<main class="mx-5 margin-form">
    <div class="container px-5 pt-4 pb-5 my-5 bg-body box-form">
        <form class="row g-3 needs-validation" [formGroup]="form">
            <h2>Crear Vehículo</h2>
            <div class="row">
                <div class="col-md-6">
                    <label for="Tipo_vehiculo" class="form-label">Tipo vehículo</label>
                    <select class="form-select" formControlName="tipo_vehiculo" id="Tipo_vehiculo">
                        <option value="Carro">Carro</option>
                        <option value="Motocicleta">Motocicleta</option>
                        <option value="Scootter">Scootter</option>
                    </select>
                    <div class="invalid-feedback">
                        seleccionar vehiculo de ingreso.
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-0">
                        <label for="validarMarca" class="form-label">Marca</label>
                        <input type="text" class="form-control" formControlName="marca" id="validarMarca" required />
                        <div class="invalid-feedback">
                            El campo Teléfono es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-0">
                        <label for="validacionModelo" class="form-label">Modelo</label>
                        <input type="text" class="form-control" formControlName="modelo" id="validacionModelo"
                            required />
                        <div class="invalid-feedback">
                            El campo Teléfono es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validacionAño" class="form-label">Año</label>
                    <input type="text" class="form-control" formControlName="anio_modelo" id="validacionAño" required />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="validacionPlaca" class="form-label">Placa</label>
                    <input type="text" class="form-control" formControlName="placa" id="validacionPlaca" required />
                </div>
                <div class="col-md-6">
                    <label for="validacionVenta" class="form-label">Valor de Venta</label>
                    <input type="number" class="form-control" formControlName="valor_venta" id="validacionVenta"
                        required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="validacionAlquiler" class="form-label">Valor Alquiler</label>
                    <input type="number" class="form-control" formControlName="valor_alquiler" id="validacionAlquiler"
                        required />
                </div>
                <div class="col-md-6">
                    <div class="col-md-0">
                        <label for="validacionImagen" class="form-label">URL de la Imagen</label>
                        <input type="text" class="form-control" formControlName="url_imagen" id="validacionImagen"
                            required />
                        <div class="invalid-feedback">
                            El campo Teléfono es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción del Vehículo</label>
                    <textarea class="form-control" formControlName="descripcion_vehiculo"
                        id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="d-grid gap-2">
                    <button (click)="CrearVehiculo()" class="btn btn-primary" type="button">Crear Vehículo <i
                            class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
    </div>
</main>