<main class="mx-5 margin-form">
  <div class="container">

    <div class="d-flex justify-content-between">
      <h2>Lista de Asesores</h2>
      <button routerLink="/administration/advisor/create-advisor" mat-mini-fab color="accent" aria-label="Crear Asesor" ngbTooltip="Crear Asesor" placement="left">
        <mat-icon>add</mat-icon>
      </button>
    </div>
      <mat-form-field appearance="standard">
        <mat-label>Filtrar asesor</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo. Leonardo" #input>
      </mat-form-field>

      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <ng-container>
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{column.header}}
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">{{column.header}}:</span>
                {{column.cell(row)}}
              </mat-cell>
            </ng-container>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row [matMenuTriggerFor]="menu" #menuTrigger (click)="clickedRows.add(row)"
          (menuClosed)="clickedRows.clear()" *matRowDef="let row; columns: displayedColumns;"></tr>

          <mat-menu #menu="matMenu" class="myMenu">
            <div *ngFor="let clickedRow of clickedRows">
              <button mat-menu-item (click)="openDialog(clickedRow)">
                <span class="material-icons">delete</span> Eliminar</button>
              <button mat-menu-item routerLink="/administration/advisor/edit-advisor/{{clickedRow.id}}">
                <span class="material-icons">mode</span> Editar</button>
            </div>
          </mat-menu>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Ningún dato coincide con "{{input.value}}"</td>
          </tr>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>



      <!-- Copyright 2021 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at https://angular.io/license -->

      <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="brand">Marca</th>
          <th scope="col" sortable="model">Modelo</th>
          <th scope="col" sortable="request_type">Tipo de Solicitud</th>
          <th scope="col" sortable="departure_date">Fecha de Salida</th>
          <th scope="col" sortable="return_date">Fecha de Retorno</th>
          <th scope="col" sortable="return_date">Fecha de Venta</th>
          <th scope="col" sortable="co_signer">Codeudor</th>
          <th scope="col" sortable="status">Estado</th>
          <th scope="col" sortable="actions">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{solicitud.marca}}</td>
          <td>{{solicitud.modelo}}</td>
          <td>{{solicitud.tipo_solicitud}}</td>
          <td>{{solicitud.fecha_salida}}</td>
          <td>{{solicitud.fecha_retorno}}</td>
          <td>{{solicitud.fecha_venta}}</td>
          <td>{{solicitud.fecha_venta}}</td>
          <td>{{solicitud.estado}}</td>
          <td><button class="btn btn-primary" type="button" ngbTooltip="Pagar" placement="right"><i class="material-icons right">local_atm</i></button></td>
        </tr>
      </tbody> -->
      <!-- <tbody>
      <tr *ngFor="let country of countries$ | async">
        <th scope="row">{{ country.id }}</th>
        <td>
          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
          <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td>
      </tr>
      </tbody> -->
      <!-- </table> -->
  </div>
</main>