<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-3 bg-body">
            <div class="container-fluid mx-5">
                <span class="material-icons md-36">
                    time_to_leave
                </span>
                <a class="navbar-brand" href="#"><img class="me-3">Smart Vehicle</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                        <li *ngIf="!session">
                            <button class="btn btn-secondary" routerLink="security/login">Iniciar Sesión</button>
                        </li>
                        <li *ngIf="!session">
                            <button class="btn btn-primary" routerLink="administration/client/create-client">Registrarse</button>
                        </li>
                        <li *ngIf="session" class="nav-item">
                            <a type="button" class="nav-link" (click)="RedirigirA()" style="color: blue;">Bienvenido {{nombre}} </a>
                        </li>
                        <li *ngIf="sessionClient" class="nav-item">
                            <a class="nav-link" routerLink="request/list-request">Mis Solicitudes</a>
                        </li>
                        <li *ngIf="sessionClient" class="nav-item">
                            <a class="nav-link" routerLink="administration/vehicle/list-vehicle">Vehiculos</a>
                        </li>
                        <li *ngIf="session" class="nav-item">
                            <a type="button" class="nav-link" (click)="CerrarSesion()">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>