div .btn-request {
  display: flex;
  flex-direction: column;
}

.mx-5 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@media (max-width: 421px) {
  div .btn-request {
    margin-bottom: 1rem;
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 80%;
  flex-direction: row;
  justify-content: center;
}

.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
  height: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

ngb-datepicker .show {
  transform: scale(0.8) translate(-23px, -37px) !important;
}

::ng-deep .row .mat-form-field-underline {
  height: 0px !important;
}

::ng-deep .mat-form-field-wrapper {
  padding: 0 !important;
  height: 24px;
}

::ng-deep .mat-form-field-infix {
  border: 0 !important;
}

::ng-deep .mat-focused .mat-form-field-underline {
  display: none;
}

/* .form-control {
  line-height: 0 !important;
} */

.fromdate,
.todate,
::ng-deep .mat-date-range-input-separator,
::ng-deep .mat-datepicker-toggle-default-icon,
::ng-deep input.mat-input-element {
  transform: translateY(-4px);
}

#mat-form-field-label-1 {
  display: none;
} 
