@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;800;900&family=Sacramento&display=swap');

* {
  --tam-fuente-titulo: 2rem;
  --tam-fuente-campos: 1rem;
  --tam-fuente-button: 0.75rem;
  --tipo-fuente-logo: 'Sacramento', cursive;
  --fuente-general: 'Nunito', sans-serif;
  --radio-botones: 2rem;
  --lila-boton-hover: rgb(183, 130, 231);
  font-family: var(--fuente-general);
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
}

/* Codigo para el navbar */
header {
  font-family: var(--fuente-general);
  --azul-boton: #0d6efd;
}

div .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #5c5d61;
}

div .navbar-brand {
  font-family: var(--tipo-fuente-logo);
  font-size: var(--tam-fuente-titulo);
  font-weight: 600;
}

ul .nav-btn {
  background-color: var(--azul-boton);
  color: white;
  border-color: var(--azul-boton);
}

/* Codigo para los formularios */

main .box-form {
  max-width: 40rem;
  margin-bottom: 9.5rem !important;
}

main {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

form h2 {
  color: #181b21;
  font-size: var(--tam-fuente-titulo);
  font-weight: 700;
}

form .form-control,
form .form-select {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: 2rem;
}

form div .error-message {
  color: red;
  font-size: 12px;
}

form .btn,
ul .btn{
  font-size: var(--tam-fuente-button);
  font-weight: 800;
  text-transform: uppercase;
  border-radius: var(--radio-botones);
  height: 38px;
}

.form-label {
  font-size: var(--tam-fuente-campos);
  font-weight: 600;
  color: #5c5d61;
}

.form-check-label {
  font-size: 0.75rem;
  font-weight: 500;
}

div .row {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  align-items: center;
}

.row button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row button i {
  font-size: 20px;
  margin-left: 16px;
}

hr {
  background-color: grey;
  width: 100%;
  text-align: center;
}

.row .d-flex {
  align-items: center;
  font-weight: 600;
  color: #5c5d61;
}

.row .btn-light {
  border-color: black;
  border-width: 2px;
}

form .btn:hover {
  background-color: var(--lila-boton-hover);
  border-color: var(--lila-boton-hover);
}

footer.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.material-icons {
  margin-right: 0 !important;
}

@media (max-width: 321px) {
  div .navbar-brand {
    font-size: 1rem;
  }
}

@media (max-width: 460px) {
  .popover-edit {
    width: 12rem;
  }
  .g-recaptcha {
    transform: scale(0.75);
    /* transform-origin: 0 0; */
  }
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
