mat-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* td, th {
    width: 25%;
  } */

.container {
  margin-top: 120px;
  margin-bottom: 160px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: auto;
  
}

.mat-header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile-label {
  display: none;
}

 mat-footer-cell {
  /* flex: 1; */
  display: flex;
  align-items: center;
  /* overflow: hidden;
  word-wrap: break-word;
  min-height: inherit; */
  justify-content: center;
}

@media (mix-width: 650px) {
  mat-cell.mat-cell.cdk-cell.cdk-column-fecha_retorno.mat-column-fecha_retorno.ng-star-inserted {
    visibility: hidden !important;
  }
}


@media (max-width: 620px) {
  .mobile-label {
    width: 130px;
    display: inline-block;
    font-weight: bold;
  }

  .container {
    padding: 0;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    height: auto;
    flex-direction: column;
    align-items: start;
    padding: 8px 12px;
    font-size: 8px;
  }

  .mat-cell {
    font-size: 0.8rem;
  }

  .mat-cell:first-of-type {
    padding: 0;
  }

  ::ng-deep .mat-menu-panel.myMenu {
    margin-left: 125px;
  }
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover {
  background-color: rgb(236, 235, 235);
}

.demo-row-is-clicked {
  font-weight: bold;
}

::ng-deep .mat-menu-panel.myMenu {
  margin-left: 120px;
}

button.mat-menu-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.material-icons {
  margin-right: 6px;
}