<div class="container">
    <div class="hero-section">
        <div class="card-grid">
            <a class="card" routerLink="/administration/vehicle/create-vehicle">
                <div class="card__background" style="background-image: url('assets/img/create-vehicle-img.jpg')">
                </div>
                <div class="card__content">
                    <p class="card__category">Vehículos</p>
                    <h3 class="card__heading">Crear Nuevo Vehiculo</h3>
                </div>
            </a>
            <a class="card" routerLink="/administration/vehicle/table-vehicle">
                <div class="card__background" style="background-image: url('assets/img/list-vehicle-img2.jpg')">
                </div>
                <div class="card__content">
                    <p class="card__category">Vehículos</p>
                    <h3 class="card__heading">Listado de Vehículos</h3>
                </div>
            </a>
            <a class="card" routerLink="/administration/advisor/create-advisor">
                <div class="card__background" style="background-image: url('assets/img/create-advisor-img.jpg')">
                </div>
                <div class="card__content">
                    <p class="card__category">Asesores</p>
                    <h3 class="card__heading">Crear Nuevo Asesor</h3>
                </div>
            </a>
            <a class="card" routerLink="/administration/advisor/list-advisor">
                <div class="card__background" style="background-image: url('assets/img/list-advisor-img2.jpg')">
                </div>
                <div class="card__content">
                    <p class="card__category">Asesores</p>
                    <h3 class="card__heading">Listado de Asesores</h3>
                </div>
            </a>
        </div>
    </div>
</div>