<main class="mx-5 margin-form">
  <div class="container px-5 pt-4 pb-5 my-5 bg-body box-form">
    <form class="row g-3 needs-validation" [formGroup]="form">
      <h2>Recuperar Contraseña</h2>
      
      <div class="row">
        <div class="d-grid gap-2">
          <label for='email' class="form-label">Ingresa tu correo de usuario para recuperar tu contraseña.</label>
          <input formControlName="username" class='validate form-control' type='text' name='username' id='username'
            placeholder="Ingrese su email" />
          <!-- <div *ngIf="GetForm['username'].errors && (GetForm['username'].dirty || GetForm['username'].touched)"
              class="error-message">
              <p>Por favor ingrese un correo electronico válido</p>
            </div> -->
        </div>
      </div>



      <div class="row">
        <div class="d-grid gap-2">
          <button routerLink="" class="btn btn-primary" (click)="RecoverPass()" type="button">Recuperar <i
              class="material-icons right">search</i></button>
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-center">
          <hr style="margin-right: 10px;">O
          <hr style="margin-left: 10px;">
        </div>
      </div>

      <div class="row">
        <div class="d-grid gap-2">
          <button routerLink="/security/login" class="btn btn-light" type="button">Cancelar <i
              class="material-icons right">cancel_schedule_send</i></button>
        </div>
      </div>

    </form>
  </div>
</main>